/*General website*/
*{
  font-family: Helvetica, sans-serif;
  margin: 0px;
}

/*grid dimensions*/
.grid{
  box-sizing: border-box;
  float: left;
}
.one{
  width: calc(100%/16*3);
}
.push-one{
  margin-left: calc(100%/8);
}
.push-three{
  margin-left: calc(100%/16*11);
}

/* homepage - navigation bar*/
nav{
  display: inline;
  position: fixed;
  background-color: white;
  height: 50px;
  width: 100%;
  top:0px;
  padding-top: 15px;
  z-index: 10;
}

.nav-option,
.icon{
  display: inline;
}
/* homepage - nav bar icons*/
.icon{
float: right;
}
.icon img{
  width: 30px;
  height:auto;
  padding: 10px;
}

/* homepage - store logo*/
#logo{
  width: 120px;
  height: auto;
  padding-left: 20px;
}

/*homepage - background image*/
.body img{
  position:relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
  z-index: -1;
}

/*homepage - shop by types & shapes buttons*/
#types,
#shapes{
  /*text properties*/
  text-align: center;
  font-size: 2vw;
  color: black;
  text-decoration: none;
  font-weight: bolder;
  /*division properties*/
  position: absolute;
  top: calc(100%/2);
  padding: 10px;
  background: rgba(255,255,255,.7);
  z-index: 5;
}

/*homepage - hover over effect for "shape" & "type" buttons*/
#types:hover,
#shapes:hover{
  color: white;
  background: rgba(50,50,50,.8);
}

  /*shop by types sorting bar*/
  .sorting{
    margin-top: 100px;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
  }
 .sorting h3{
    font-size: 12pt;
    display: inline;
    padding: 10px;
    border-style: solid;
    border-width: thin;
    color: black;
    text-decoration: none;
  }
a {
  text-decoration: none;
}
#option-square:hover,
#option-all:hover,
#option-round:hover,
#option-dog:hover,
#option-bunny:hover,
#option-cat:hover,
#option-couch:hover,
#option-bed:hover,
#option-floor:hover,
#option-bear:hover{
  color: white;
  background: rgb(150,150,150);
}
/* product page - drop shadow for shop by types & shapes nav bar*/
.options{
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
}
 .nav-option{
  position: absolute;
  margin-top: 20px;
  margin-left: 200px;
  text-align: center;
}
/* product page - style for navigation bar text options */
h5{
  display: inline;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12pt;
  font-weight: lighter;
  letter-spacing: 1px;
}
/* product page - eliminate underline for links on nav bar */
.nav-option a{
  text-decoration: none;
  color: black;
}
/* product page - style for current page button on nav bar*/
 .nav-option .selected{
  color: white;
  background-color: black;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
}
/* proudct page - style for current sorting button on nav bar*/
.sorting .selected{
  color:white;
  background: black;
  font-weight: bolder;
}

/*product page - image block location*/
.image-block{
  padding-top: 50px;
}
/*product page - individual image location*/
.image-row img{
    width: 15%;
    height: auto;
    padding: 20px;
  }
/* product page - individal image hover over effect*/
img:hover{
  opacity: 0.5;
}
/* overall - logo hover over effect override*/
#logo:hover{
  opacity:1;
}
/* product page - image row alignment and location*/
.image-row{
  text-align: center;
  padding: 30px 0px;

}
/*product page - customization request line*/
p{
  text-align: center;
  margin-top: 30px;
}
/*detail page - hover over effect override*/
.detail-block img:hover{
  opacity: 1;
}

/*detail page - location for "back" and "check out"*/
.detail-nav {
  text-align: center;
  margin-top: 100px;
}
.detail-nav h3{
  display: inline;
}
/*detail page - product information flex box*/
.container{
  display: flex;
  margin: 150px;
  margin-top: 150px;
  width: 80%;
  height: auto;
}
/*detail page - product image size*/
.flex-item.detail-image{
  width: 35%;
  height: 35%;
  padding-right: 70px;
  padding-left: 70px;
}
/* detail page - product title*/
h1{
  font-size: 20pt;
}
/*detail page - price*/
h2{
  font-size: 17pt;
  padding-top: 20px;
}
/*detail page - quantity*/
.detail-text h3{
  font-size: 12pt;
  font-weight: lighter;
  padding-top: 10px;
}
/*detail page - drop down list*/
select{
  width: 60px;
  margin-top: 10px;
}
/*detail page - button*/
button{
  background-color: white;
  border: solid;
  margin-left: 10px;
}
/*detail page - overview*/
#overview{
  font-weight: bold;
  margin-bottom: 10px;
}
/*detail page - overview list*/
ul{
  padding-left: 0px;
  list-style: none;
}
li{
  padding-bottom: 5px;
}
/*detail page - button hover over effect*/
button:hover{
  background: black;
  color:white;
}
/*detail page - "favorite""check out" button*/
.shopping-nav{
  text-align: center;
  margin-top: 50px;
}
.shopping-nav button{
  margin-top: 0px;
  float: left;
  margin-right: 50px;
}
/*shopping cart image size*/
.shopping-cart-image{
  width: 10%;
  vertical-align: middle;
}
.list{
  position: absolute;
  margin-left: 30pt;
  margin-right: 30pt;
  margin-top: 120pt;
  width: 100%;
}

.total-quantity{
  position: absolute;
  top: 18pt;
  right: 97pt;
  text-decoration: none;
  color: black;
}
/*shopping cart list layout*/
#shopping-cart-title{
  margin-top: 30pt;
  width: 95%;
}
/*shopping list detail title location*/
.selected-pillow-price,
.selected-pillow-quantity,
.selected-pillow-name {
  margin-left: calc(100%/10);
  display:inline-block;
}
/*delete button location*/
#remove-pillow
#delete-pillow{
  margin-left: calc(100%/4);
}
/*shopping list detail title size*/
.selected-pillow-price,
.selected-pillow-quantity{
  width: 10%;
}

.selected-pillow-name{
  width: 20%;
}
/*shopping cart and wishlist larger title style and size*/
#total-price{
  margin-top: 30px;
  text-align: right;
  width: 95%;
  font-size: 20pt;
}
#shopping-list li,
#wishlist li{
  background-color: rgb(248,248,248);
  padding: 0;
  margin: 10px;
  width: 95%;
}
#wishlist-item-title{
  margin-top: 30px;
  width: 95%;
}
#take-a-look{
  color: grey;
  text-decoration: underline;
}
